@import "tailwindcss";

:root {
  --background: #1a1b25;
  --foreground: #e9e7f1;

  /* CSS HEX */
  --magnolia: #e9e7f1;
  --platinum: #e6e6e6;
  --raisin-black: #282938;
  --raisin-black-2: #1a1b25;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-magnolia: var(--magnolia);
  --color-platinum: var(--platinum);
  --color-raisin-black: var(--raisin-black);
  --color-raisin-black-2: var(--raisin-black-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1b25;
    --foreground: #e9e7f1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
